.chart-container {
  background-color: rgba(255, 255, 255, 0.8);
}

#our-advantages,
#our-team,
#our-services,
#our-results {
  scroll-margin-top: var(--header-height);
}

@media  (max-width: 1050px){
  .diff-container {
    display: block;
  }

  .diff-container-graph-img {
    width: 80vw;          /* 60% of the viewport width */
    max-width: 90%;      /* never overflow */
    height: auto;

    display: block;       /* allows margin centering */
    margin-left: auto;
    margin-right: auto;   /* <-- centers the image */
  }
}

@media  (min-width: 1051px){
  .diff-container{
    display: flex;

  }

}



.diff-container-text {
  flex: 0 0 50%;      /* 50% of row width each */

}


.diff-container-graph {
  display: flex;
  flex: 0 0 50%;      /* 50% of row width each */
  flex-direction: column;
}

/* wrapper around the image */
.diff-container-graph-div {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;                     /* fill the remaining height of right column */
  align-items: center;         /* center vertically */
}

/* the image itself */
.diff-container-graph-img {
  width: 90%;        /* 100% of right column = 50% of screen */
  height: auto;
  display: block;
}




/* Now onto the actual webpage */

.element-title {
  /* font-size: 1.75em; */
  font-size: 28px;
  font-weight: 700;
  padding: 52px 52px 16px 52px;
  color: var(--accent-color);
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
  1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.element-subheading {
  font-size: 1em;
  font-weight: 700;
  padding: 52px 52px 16px 52px;
  color: var(--accent-color);
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
  1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.general-card {
  flex: 1;
  background-color: white;
  margin: 20px;
  min-width: 280px;
  max-width: 360px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.15);
  transition: background-color 0.3s;
}
.general-card:hover {
  background-color: rgb(248, 248, 248);
}

.tutor-card {
  padding: 40px 0;
  display: grid;
  justify-items: center;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  'picture name'
  'description description'
  'uni uni';
  cursor: pointer;
}

.tutor-picture-container {
  grid-area: picture;
}
.tutor-picture {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.tutor-name {
  grid-area: name;
  align-self: center;
  justify-self: start;
  margin-left: 12px;
  font-weight: 700;
  font-size: 1.6em;
}

.tutor-description {
  grid-area: description;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 300;
  line-height: 24px;
}

.uni-container {
  grid-area: uni;
}

.uni-logo {
  width: 200px;
  height: 50px;
  object-fit: contain;
  opacity: 1;
}

.results-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-width: 200px;
  max-width: 280px;
  padding: 40px;
  margin-bottom: 80px;
  background-color: rgb(253, 255, 228);
}
.results-card:hover {
  background-color: rgb(243, 245, 218);
}

.results-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-bottom: 20px;
}

.results-profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.quote-mark-container {
  height: 60px;
  margin-right: 24px;
}
.quote-mark {
  height: 100%;
}

.results-description {
  font-weight: 300;
  line-height: 24px;
}

.results-name {
  align-self: end;
  justify-self: end;
  font-weight: 700;
  font-size: 2.5em;
  padding-top: 28px;
  margin-top: auto;
}

/*
Now onto the text-picture sections
*/

.picture-text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 24px;
  margin: 0 36px 0 36px;
  box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.15);
  height: var(--percent-height);
}

.element-image-container {
  min-height: 300px;
  max-height: 500px;
}

.element-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text-container {
  background-color: rgb(248, 248, 248);
  height: 100%;
  width: 100%;
}

.text-header {
  margin-top: 80px;
  font-size: 1.875em;
  font-weight: 500;
  color: var(--accent-color);
  padding: 0 10%;
}

.text-header-diff {
  margin-top: 80px;
  font-weight: 500;
  color: var(--accent-color);
  margin-top:10px;
  font-size: 25px;
  padding-right: 52px;
  padding-bottom: 16px;
  padding-left: 52px;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
  1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.text-description {
  margin-top: 36px;
  padding: 0 10%;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 8px;
}

@media (max-width: 916px) {
  .picture-text-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    height: 88%;
  }

  .element-image-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  /* Services image opacity (for phone)*/
  .text-container {
    background-color: rgba(255, 255, 255, 0.85);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    order: 1;
  }

  .text-description {
    font-weight: 400;
  }

  .diff-container {
    display: grid
  
  }
}

@media (max-width: 500px) {
  .text-header {
    margin-top: 16px;
  }
  
  .text-description {
    margin-top: 8px;
  }

  .element-title {
    padding-left: 28px;
    padding-right: 28px;
  }

  .text-header-diff {
    margin-top: 16px;
    font-weight: 500;
    color: var(--accent-color);
    padding-left: 28px;
    padding-right: 28px;
    font-size: 25px
  }



  .founder-flex {
    display: grid;
  }
}

/* Founder  */
.founder-whole {
  background-color: var(--accent-color);
  padding-top: 24px;
  margin-top: 40px;
  position: relative;
  color: white;
  font-weight: 500;
}

.founder-flex {
  display: flex;
}

.founder-img-container {
  padding-right: 36px;
  padding-left: 36px;
}

.founder-img {
  width: 100px;
}

@media (max-width: 500px){
.founder-img {
  width: 150px;
}
  .founder-img-container {
/*     width: 100%; */
    text-align: center;
  }

  .founder-flex {
    display: block;
  }

  .founder-desc-heading {
  font-size: 1.875em;
  text-align:center;
  padding-top: 12px;
  padding-bottom: 12px;
}
}

.founder-desc{
  padding-bottom: 40px;
  padding-right: 12px;
  padding-left: 12px;
}

.founder-desc-heading {
  font-size: 1.875em;
  text-align:center;

}


.founder-signoff{
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin-top:12px;
}

/* Footer now */


.footer {
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  background-color: rgba(255, 255, 255, 0.7);
}

.footer-text-container {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-title {
  text-align: center;
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: 12px;
}

.footer-description {
  font-weight: 300;
  font-size: 1.125em;
  margin-bottom: 24px;
}

.footer-button {
  font-weight: 900;
}





.container {
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 40px;
  gap: 20px;
}

.service-box {
  width: 30%;
  text-align: center;
  border: none;
  padding: 10px;
}

@media (min-width: 500px){
  .service-box:not(:last-child) {
    border-right: 1px solid #ccc; /* Add the vertical line */
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 40px;
    gap: 20px;
  }
}


